@font-face{
  font-family:'vazir-medium';
  font-style: normal;
  font-display: swap;
  src:url('./fonts/Vazir-Medium.ttf')
}

body {
  margin: 0;
  font-family: vazir-medium !important;
  min-height: 100vh;
  background: linear-gradient(to bottom, #007991, #78ffd6) no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 450px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 50px auto;
  border-radius: 15px;
}

p, h1, h2, h3, h4, h5, h6, label, button {
  margin-bottom: 0 !important;
  font-family: vazir-medium !important;
}

.form {
  margin: 200px auto;
  background-color: #fff;
  width: 500px;
  height: auto;
  min-height: 300px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: vazir-medium !important;
}

.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}

.plan {
  background: whitesmoke;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.btn-danger {
  height: 40px;
}


.no-plan-text {
  margin: auto;
  text-align: center;
  font-weight: 700;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

form {
  background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: vazir-medium !important;
}

.error {
  font-size: .8rem;
  line-height: 1.5rem;
  color: red;
}

.not-found {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: #fff;
}
.not-found a {
  margin-top: 20px;
  height: 40px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: wheat;
}